<!doctype html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>{%= name %}</title>
    <link rel="stylesheet" media="screen" href='css/normalize.css' type="text/css" />
    {% if (inject_bootstrap) { %}<link rel="stylesheet" media="screen" href='vendor/bootstrap-3.1.1-dist/css/bootstrap.min.css' type="text/css" />{% } %}
  	{% if (require_css_file) { %}<link rel="stylesheet" media="screen" href='css/style.css' type="text/css" />{% } %}
  </head>
  <body>

		<h1>Welcome to {%= name %} project!</h1>

		<!-- run `grunt` in your terminal and load this page on localhost:3000 to
					enable auto-reload -->
    <script src="//localhost:35729/livereload.js"></script>
    {% if (inject_jquery) { %}<script type="text/javascript" src="vendor/jquery-2.1.1/jquery-2.1.1.min.js"></script>{% } %}
    {% if (inject_bootstrap) { %}<script type="text/javascript" src="vendor/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>{% } %}
    <script type="text/javascript" src="js/plugins.js"></script>
    {% if (require_js_file) { %}<script type="text/javascript" src="js/app.js"></script>{% } %}
  </body>
  </html>