<!DOCTYPE html>
<head>
  <title>{% project_name %}</title>
  	{% if (js_file) { %}
   		<script type="text/javascript" src="js/app.js"></script>
  	{% } %}
  	{% if (css_file) { %}
   		<link rel="stylesheet" media="screen" href='css/style.css' type="text/css" />
  	{% } %}
  </head>
  <body>

		<!-- Some content here -->

		<!-- run `grunt` in your terminal and load this page on localhost:3000 to
					enable auto-reload -->
    <script src="//localhost:35729/livereload.js"></script>
  </body>
  </html>